page-list-produk-garansi {
    .list-md[inset] {
        margin: 0;
    }
    .list-md .item-block .item-inner {
        border-bottom: none;
    }
    .noted{
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        font-size: 12px;
        background-color:#eaeaea; 
        border:solid 1px #CCC; 
        border-radius:3px; 
        padding:7px; 
        color:darkgoldenrod; 
        margin-top:7px
    }
}
